<%= flash[:alert] %>

<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <%= form_tag('/users/sessions', method: :post) do %>
    <div class="field">
      <%= label_tag 'user[name]', '用户名', class: 'label' %>
      <p class="control">
        <%= text_field_tag 'user[name]', nil, placeholder: '在这里输入用户名...', class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= label_tag 'user[password]', '密码', class: 'label' %>
      <p class="control">
        <%= password_field_tag 'user[password]', nil, placeholder: '在这里输入密码...', class: 'input'  %>
      </p>
    </div>

    <div class="field is-grouped">
  <p class="control">
    <button class="button is-primary">Submit</button>
  </p>
  <p class="control">
    <button class="button is-link">Cancel</button>
  </p>
</div>
    <% end %>
  </div>
  <div class="column">
  </div>
</div>
