
<%= admin_pagipate @_resources %>

<table class="ui very basic table">
  <thead>
    <tr>
      <% @_attributes.each do |attr| %>
        <th><%= delegate_i18n_attr(attr) %></th>
      <% end %>
      <th>
        <div class="ui tiny teal icon buttons">
          <%= delegate_prev_attr_button_tag %>
          <%= delegate_next_attr_button_tag %>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @_resources.each do |resource| %>
      <tr>
        <% @_attributes.each do |attr| %>
        <td>
          <%= delegate_attribute_value(resource, attr, is_list: true) %>
        </td>
        <% end %>

        <td>
          <div class="ui tiny buttons">
            <%= delegate_resource_member_dropdown_tag(resource) %>
            <%= delegate_show_resource_button_tag(resource) %>
            <%= delegate_edit_resource_button_tag(resource) %>
            <%= delegate_destroy_resource_button_tag(resource) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= admin_pagipate @_resources %>
