<div class="ui <%= 'visible' unless @hidden_sidebar%> sidebar inverted vertical menu black">
  <div class="item">
    <b>核销产品</b>
    <div class="menu">
      <%= delegate_menu_item_tag('products', '商品管理') %>
      <%= delegate_menu_item_tag('promotions', '核销项目管理') %>
      <%= delegate_menu_item_tag('code_batches', '核销码批次管理') %>
      <%= delegate_menu_item_tag('promotion_codes', '核销码管理') %>
      <%= delegate_menu_item_tag('promotion_orders', '核销订单') %>
    </div>
  </div>
  <div class="item">
    <%= link_to '登出', admin_sessions_path, method: :delete, class: 'ui tiny red button' %>
  </div>
</div>
