<%= stylesheet_link_tag 'main', media: 'all' %>
<%= stylesheet_link_tag 'index', media: 'all' %>

<div class='head'>
  <div class="logo">
    <img src="<%= asset_url('logo.png') %>" alt="logo">
  </div>
  <h3 class="index_title">艾格吃饱了</h3>
  <p>你有一份美味等待领取</p>
</div>

<%= form_tag(verify_promos_path) do %>
  <p class="hold">输入卡密</p>
  <%= text_field_tag :_c, "", maxlength: 6, class: 'input', required: true %>
  <div class="index_button">
    <span>领&nbsp;取</span>
    <p class="su_text" >已领取可查询物流</p>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(e) {
    $('.index_button').on('click', function(e) {
      // console.log('sss');
      $('form').submit();
    })
  })
</script>
