<div class="title">艾格吃饱了</div>
<p class="info" >您的卡密<span></span> ，可领取如下产品：</p>
<% @promotion.products.each do |product| %>
  <div class="prj_box">
    <p class="prj-name"><%= product.name %><span class="add">X <%= product.count%></span></p>
    <img class="prj_img" src="<%= product.image_url %>" width="90%" alt="">
    <a class="prj_detail" href="<%= product.url %>">产品详情</a> <span class="last_time">领取截止时间：<%= @promotion.expired_at_text %></span>
  </div>
<% end %>
<div class="user_info">

  <%= form_for @promotion_order, url: do_exchange_promos_path, html: { class: 'form' } do |f| %>
    <dd>
      <%= f.label :customer_name, '您的姓名：' %>
      <%= f.text_field :customer_name, class: 'text' %>
    </dd>

    <dd>
      <%= f.label :customer_telephone, '联系电话：' %>
      <%= f.text_field :customer_telephone, class: 'text' %>
    </dd>

    <dd>
      <div data-toggle="distpicker" id="where" >
        <span class="city">收货地址：</span>
        <select id="pro" data-province="省"></select>
        <select id="cit" data-city="市"></select>
        <select id="dist" data-district="区"></select>
      </div>
    </dd>

    <dd>
      <%= f.text_field :address, placeholder: '详细地址', class: 'text' %>
    </dd>

    <dd>
      <%= f.label :reserved_delivery_date, '预约配送日期：'%>
    </dd>
    <dd>
      <%= f.text_field :reserved_delivery_date, id: 'selData', class: 'text'%>
    </dd>
    <%= f.button '下一步', class: 'btn'%>
  <% end %>
</div>
<script type="text/javascript">
  $("#selData").cxCalendar();
</script>
