<%= stylesheet_link_tag 'main', media: 'all' %>
<%= stylesheet_link_tag 'confirm', media: 'all' %>

<div class="confirm_title" >艾格吃饱了</div>

<div class="content">
  <div class="cardid">
    <p>您的卡密<span id="kami"><%= @promotion_order.code %></span>，请确认配送信息：</p>
    <% @promotion_order.promotion_code.promotion.products.each do |product| %>
    <div class="card">
      <img class="prj_img" src="<%= product.image_url %>"  alt="" />
      <p class="prj_name"><%= product.name %><span class="confirm_jiage"></span> <span class="confirm_add">x <%= product.count %></span></p>
    </div>
    <% end %>
  </div>
</div>


<div class="info_card">
  <ul>
    <li>姓名：<span id="name"><%= @promotion_order.customer_name %></span> </li>
    <li>联系电话：<span id="phone"><%= @promotion_order.customer_telephone %></span></li>
    <li>收货地址：<span id="addr"><%= @promotion_order.full_address %></span></li>
    <li>配送日期：<span id="date"><%= @promotion_order.reserved_delivery_date_text %></span></li>
  </ul>
  <button type="reset" id="reset"><a href="<%= edit_promotion_order_path(@promotion_order, _c: @promotion_order.promotion_code.code) %>">修改</a></button>
</div>

<%= form_for @promotion_order, url: do_confirm_promotion_order_path(@promotion_order) do |f| %>
  <div class="btn submit">
    <a>确认提交</a>
    <!-- <button type="submit">确认提交</button> -->
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(e) {
    $('.submit').click(function(e) {
      $('form').submit();
    })
  })
</script>
